html, body {
  height: 100%;
  width: 100%;
  background-color:  #80471c;
  font-family: "Nature Beauty";
}

.grid-container {
  display: grid;
  border: 0px solid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  background-image: url("images/Hackviolet_Background2.jpg");
  background-size: contain;
  width: 70%;
  height: 100%;
}

.grid-profile {
  display: grid;
  grid-template-columns: 15% 30% 30% 25%;
  grid-template-rows: 100%;
  background-image: url("images/HackVioletWood.jpg");
  background-size: 200px, 40px;
  height: 100%;
  width: 100%;
}

#seed-container{
  display: grid;
  grid-template-columns: auto auto auto;
  height: 90%;
  width: 95%;
  gap: 10px;
  margin-right: 5px;
}

.seed-item {
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.pgrid-item {
  border: 5px solid #80471c;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-image: url("images/HackVioletWood.jpg") 100 round;
  border-image: 10px, 10px;

  
}

.content {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.profile {
  display: flex;
  justify-content: center;
  height: 20%;
}

.pots {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-content: bottom;
}

#logo {
  display: flex;
  height: 130%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  
}

#seedMenu {
  display: flex;
  justify-content: top;
  width: 30%;
  padding: 5px;
  flex-direction: column;
  background-image: url("images/HackVioletPage.png");
  background-size: 500px;
  border: 15px solid #80471c;
}

#sectionTitle {
  text-align: center;
  color: #80471c;
  font-size: 36px;
}

#name{
  text-align: left;
  color: white;
  font-family: Lucida Console;
  display: flex;
  justify-content: center;
}

#level{
  text-align: left;
  color: white;
  font-family: Lucida Console;
  display: flex;
  justify-content: center;
}

#fail{
  text-align: left;
  color: white;
  font-family: Lucida Console;
  display: flex;
  justify-content: center;
}

#heart{
  display: flex;
  height: 100%;
  width: 80%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  
}

#codePlant{
  display: none;
}

#codeSeed{
  opacity: .4;
}

#healthPlant{
  display: none;
} 

#healthSeed{
  opacity: .4;
}

#financePlant{
  display: none;
}

#financeSeed{
  opacity: .4;
}

#womenPlant{
  display: none;
}

#womenSeed{
  opacity: .4;
}

#peoplePlant{
  display: none;
}

#peopleSeed{
  opacity: .4;
}

#modal-content{
  display: none;

}

#description{
  display:flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #80471c;
  font-family: Lucida Console;
}

@font-face {
    font-family: "Nature Beauty";
    src: url("NatureBeautyFont.ttf");
}
