/* general formatting */
html, body {
  height: 100%;
  width: 100%;
  background-color:  #80471c;
  font-family: "Nature Beauty";
}

/* grid containing the plant pots */
.grid-container {
  display: grid;
  border: 0px solid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  background-image: url("images/Hackviolet_Background2.jpg");
  background-size: contain;
  width: 70%;
  height: 100%;
}

/* layout of buttons at the bottom of the screen */
.grid-profile {
  display: grid;
  grid-template-columns: 15% 30% 30% 25%;
  grid-template-rows: 100%;
  background-image: url("images/HackVioletWood.jpg");
  background-size: 200px, 40px;
  height: 100%;
  width: 100%;
}

/* grid for the seed menu */
#seed-container{
  display: none;
  grid-template-columns: auto auto auto;
  height: 90%;
  width: 95%;
  gap: 10px;
  margin-right: 5px;
}

/* formatting for the seeds */
.seed-item {
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* the area containing the seed menu */
.pgrid-item {
  border: 5px solid #80471c;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* outline for the plant pots - created shelves */
.grid-item {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-image: url("images/HackVioletWood.jpg") 100 round;
  border-image: 10px, 10px;

  
}

/*  */
.content {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
}

/*  */
.profile {
  display: flex;
  justify-content: center;
  height: 20%;
}

/* formatting for the pots */
.pots {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-content: bottom;
}

/* logo formatting */
#logo {
  display: flex;
  height: 130%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  animation: bounceIn;
  animation-duration: 2s; 
}

/* seed menu formatting */
#seedMenu {
  display: flex;
  justify-content: top;
  width: 30%;
  padding: 5px;
  flex-direction: column;
  background-image: url("images/HackVioletPage.png");
  background-size: 500px;
  border: 15px solid #80471c;
}

/* formatting for the "Seeds" title */
#sectionTitle {
  text-align: center;
  color: #80471c;
  font-size: 36px;
}

/* formatting for the users name */
#name{
  text-align: left;
  color: white;
  font-family: Lucida Console;
  display: flex;
  justify-content: center;
}

/* formatting for the levels */
#level{
  text-align: left;
  color: white;
  font-family: Lucida Console;
  display: flex;
  justify-content: center;
}

/* formatting for fail */
#fail{
  text-align: left;
  color: white;
  font-family: Lucida Console;
  display: flex;
  justify-content: center;
}

/* formatting for lives */
#heart{
  display: flex;
  height: 100%;
  width: 60%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  
}

/* formatting for each of the plant and seed types */
#codePlant{
  display: none;
}

#codeSeed{
  opacity: .4;
}

#codeSeed:hover {
  animation: bounceIn;
  animation-duration: 2s; 
}

#healthPlant{
  display: none;
} 

#healthSeed{
  opacity: .4;
}

#healthSeed:hover {
  animation: bounceIn;
  animation-duration: 2s; 
}

#financePlant{
  display: none;
}

#financeSeed{
  opacity: .4;
}

#financeSeed:hover {
  animation: bounceIn;
  animation-duration: 2s; 
}

#sustainPlant{
  display: none;
}

#sustainSeed{
  opacity: .4;
}

#sustainSeed:hover {
  animation: bounceIn;
  animation-duration: 2s; 
}

#peoplePlant{
  display: none;
}

#peopleSeed{
  opacity: .4;
}

#peopleSeed:hover {
  animation: bounceIn;
  animation-duration: 2s; 
}

/* modal content formatting */
#modal-content{
  display: none;

}

/* start screen formatting */
#start{
  display: block;
}

#begin{
  display: block;
  background-color: #80471c;
  color: white;
  font-family: Lucida Console;
  padding: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  animation: bounceIn;
  animation-duration: 2s; 
}

#description{
  display:flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #80471c;
  font-family: Lucida Console;
}

#howTo{
  display:flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #80471c;
  font-family: Lucida Console;
  text-align: center;
}

@font-face {
    font-family: "Nature Beauty";
    src: url("NatureBeautyFont.ttf");
}

